<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="https://igv.org/web/img/favicon.ico">

    <title>igv.js</title>

    <!-- IGV JS-->
    <script src="igv.esm.js"></script>

</head>

<body>

<h1>Alignments from a CRAM file</h1>

<div id="igv-div" style="padding-top: 10px;padding-bottom: 10px; border:1px solid lightgray"></div>

<script type="text/javascript">
// re = function(){
//     var a=document.getElementById("imagefile").files[0];
//     console.log(a);
//     var fd = new FileReader();
//     fd.onload = function(event) {
//         var contents = event.target.result;
//         console.log("File contents: " + contents);
//     };
//     if(a instanceof File){
//     f = fd.readAsBinaryString(a);
//     }
// }

re = function () {
    var fastafile = document.getElementById("fastafile").files[0];
    var indexfile = document.getElementById("indexfile").files[0];
    var bamfile = document.getElementById("bamfile").files[0];
    var baifile = document.getElementById("baifile").files[0];
    var cluster = document.getElementById("cluster").files[0];
    var fr = new FileReader();

        var options =
        {
            genome: {
                id: "myCustomGenome",
                fastaURL: fastafile,
                indexURL: indexfile,
                // cytobandURL: "https://s3.amazonaws.com/igv.broadinstitute.org/genomes/seq/hg19/cytoBand.txt"
            },
            locus: "chrIS:89,617-104,077",
            tracks: [
                {
                    format: 'bed',
                    url: 'http://localhost:9000/test2.bed'

                }
            ,
            {
                format : 'bam',
                url : 'http://localhost:8080/file/2.bam',
                indexURL: baifile
            }

            ]
        };

        var igvDiv = document.getElementById("igv-div");

        igv.createBrowser(igvDiv, options)
                .then(function (browser) {
                    console.log("Created IGV browser");
                });
        fr.onload = function(){
        igv.putindex(JSON.parse(fr.result));
        }
    fr.readAsText(cluster);

    };

</script>
<p> 
    <label>请选择一个文件：</label> 
    <input type="file" id="fastafile" /> 
    <input type="file" id="indexfile" /> 
    <input type="file" id="bamfile" /> 
    <input type="file" id="baifile" /> 
    <input type="file" id="cluster" /> 
    <input type="button" value="载入" onClick="re();" /> 
</p> 
</body>

</html>